# Data folder
[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# User preferences
userPreferences.*/

# Other
Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db

# Working files and folders
*.4dbase/
UT_*.log
Build_*.log
*.license4D
Artifacts/
zzz*.4dm

# Build
*Test/
*Build/
*buildApp.4DSettings
Test-x
____test_hfs.4dm
ut_5_R_TC.4dm
(ut_5_R2074_TC2641).4dm
not exposed
